/* BASIC ELEMENT STYLES */
body {
  padding-top: 50px;
  background: rgb(200, 200, 200);;
}

div {
  display: block;
}

img {
  width: auto;
  height: auto;
}

canvas {
	margin: 20px 20px 20px 20px;
}

td {
  padding-top: 10px;
}

button {
  margin-top: 10px;
}


/* NAVBAR STYLES */
#my-navbar-buttons>li>a {
  color: #ffffff;
}
#my-navbar-buttons>li>a:hover {
  background: #73AD21;
  color: #ffffff;
}
#my-navbar-buttons>li>.active {
  background: #000000 !important;
}
.navbar-nav {
  float: right;
}


/* GENERAL STYLES */
.unity-render {
  height: 300px;
  padding: 20px;
}


/* NOISE GENERATOR STYLES */
#options {
	/* Positioning */
	float: right;
	top: 50px;
	right: 0px;
	margin: 20px 20px 20px 20px;
	z-index: 1;

	/* Dimensions */
	width: 350px;
	height: 300px;

	/* Aesthetics */
	background-color: #ffffff;
	border: 2px solid #73AD21;
	border-radius: 10px;
}

#inner-div {
	padding: 10px 10px 10px 10px;
}


/* CONTACT PAGE STYLES */
#contact-details {
  list-style: none;
  padding-left: 0px;
}
